.jumbotron {
	text-align: center;
	height: 150px;
}

.page-title {
	margin: -30px;
}

.body-title {
	text-align: center;
}

.add-burger {
	text-align: center;
}

.eat-it {
	margin-right: 10px;
}

.container {

}

.row {

}

.col-xs-12 {

}

.col-xs-4 {

}	

.buttons {

}

